/* Products
----------------------------------------------------------*/

#productCategories
{
    width: 15%;
    height:600px;
    margin-left:5px;
    float:left;
    padding-left:auto;
    padding-right:auto;
}

#productCategories h2 {
    background-color: #0169c0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border-radius: 2px;
    color: white;
    margin-left: -5px;
    margin-bottom: 40px;
}

#CategoryOps input {
    margin-top: 5px;
    width: 200px;
    font-size: 15px;
    background-color: #3d8fa2;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border: transparent;
    margin-bottom: 5px;
    transition:0.2s all ease-in-out;
}

#CategoryOps input:hover {
    background-color: white;
    color: #013468;
}

#CategoryOps input:focus{
    background-color: white;
    color: #013468;
}

.imageStyle
{
    width:150px;
    height:18px;
    margin:5px 0;
    align-content:center;
}

#dataTable {
    float: left;
    padding: 5px;
    width: 100%;
    background-color: #FFFFFF;
}

.dataGrid
{
    margin:5px;
    color:Black;
    font-family:Calibri;
    font-size:12px;   
    border-color:black;
    width:768px;
}

.chartHeaderStyle > th {
    background-color: #3d8fa2;
    font-weight: bold;
    color: white;
    text-align: left;
    padding-left: 20px;
}
tr:nth-child(odd) {
    background-color: #98AFC7;
    color: Black;
    text-align: left;
    height: 30px;
}
tr:nth-child(even) {
    background-color: #C6DEFF;
    color: black;
    height: 30px;
}
#rprItemTypeID table, #rprItemTypeID table tr {
    border: 1px solid #FBB917;
}

#ItemDataTb {
    width:95%;
}

tbody tr{
    height: 30px;
}

td {
    padding-left: 20px;
    padding-top:0;
    padding-bottom:0;
}

#Tb_bgd {
    float: left;
    padding: 5px;
    width: 83%;
    background-color: #FFFFFF;
    min-height: 600px;
}

