@using System.Data
@model DataSet



<table id="dataTable" >
    <thead >
        <tr class="chartHeaderStyle">
            <th>ITEM #</th>
            <th>ITEM DESCRIPTION</th>
            <th>PRE-PRICE</th>
            <th>SIZE</th>
        </tr>
        
    </thead>
    
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row[0]</td>
                <td>@row[1]</td>
                <td>@row[2]</td>
                <td>@row[3]</td>
            </tr>
        }
    
    
   
</table>
