@model TropicalServerApp.Models.UserAccount


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginResult</title>
</head>
<body>
    <div> 
        userName = @Model.UserID <br/>
        userPassword = @Model.Password <br/>
       
    </div>
</body>
</html>
