
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginResult</title>
</head>
<body>
    <div> 
        This is the Forget Password/UserName page
        @using (Html.BeginForm("Login","Login", FormMethod.Get))
            {
                <input type="submit" value="Return To Login Page" />
            }
    </div>

</body>
</html>
